body {
	background: black;
	background-image: url("https://picsum.photos/g/1500/1000/?random");
	background-attachment: fixed;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.98;
	}
}

.container {
	margin: auto;
	background: #232323;
	width: 1000px;
	text-align: center;
	font-size: 1rem;
	font-family: Helvetica, Arial, sans-serif;
	color: #cecece;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
	top: 0;
	box-shadow: 0 1px 3px black;
	opacity: 0.98;
	-webkit-animation: 1.5s ease-in-out 0s 1 fadeIn;
	-moz-animation: 1.5s ease-in-out 0s 1 fadeIn;
	animation: 1.5s ease-in-out 0s 1 fadeIn;
}

.nav-listing {
	float:left;
}

.nav-link:link,visited,hover,active {
	text-decoration: none;
}

.nav-link {
	display: block;
	padding-top: 20px;
	width: 120px;
	height: 40px;
	color: #666666;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-link:hover {
	color: #cecece;
	background: #3a3a3a;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.nav-link-active {
	color: #cecece;
	background: #324042;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    top: 0;
    width: 1000px;
    box-shadow: 0px 1px 3px black;

}


.main-body-div {
	display: inline-block;
	position: relative;
	text-align: center;
	border: dotted 1px #333333;
	width: 800px;
	border-radius: 5px;
	padding: 2%;
}

.about-body-div {
	display: inline-block;
	position: relative;
	text-align: center;
	border: dotted 1px #333333;
	width: 800px;
	border-radius: 5px;
	padding: 2%;
	margin: auto;
}

.image {
	width: 600px;
	border-radius: 5px;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	box-shadow: 0px 1px 5px black;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.image:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.about-div {
	float: left;
	width: 280px;
	text-align: justify;
	margin-top: 6%;
}

.about-div::after {
	display: block;
	position: absolute;
	content: "";
	height: 220px;
	border-right: solid 1px #324042;
	left: 39%;
	bottom: 21%;
}

#about-image-div {
	float: left;
	margin-left: 8%;
}

#about-image {
	width: 450px;
	
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-20%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(20%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.title-text {
	color: #cecece;
	font-size: 3rem;
	text-transform: uppercase;
	line-height: 20px;
	margin-top:6%;
	text-shadow: 1px 3px black;
	-webkit-animation: 1.5s ease-out 0s 1 slideInFromLeft;
	animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.title-subtext {
	color: #3f5154;
	font-size: 1.5rem;
	text-transform: uppercase;
	line-height: 5px;
	-webkit-animation: 1.5s ease-out 0s 1 slideInFromRight;
	animation: 1.5s ease-out 0s 1 slideInFromRight;
}

.intro-text {
	margin: 2%;
	margin-top: 4%;
	margin-bottom: 8%;
}

.intro-text::after {
	display: block;
	position: absolute;
	content: "";
	width: 300px;
	border-top: solid 1px #324042;
	top: 20%;
	left: 32%;
}

.about-text {
	margin: 2%;
	margin-top: 4%;
	margin-bottom: 8%;
}

.image-text {
	font-size: 0.8rem;
	font-style: oblique;
}

footer {
	margin: 4%;
}

.footer-text {
	color: #333333;
	font-style: bold;
	font-size: 0.9rem;
}