body {
	background-color: #f6f2ff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
}

.container {
	display: grid;
	width: 100%;

	grid-template-columns: 1fr 8fr 1fr;
	grid-template-rows: 220px auto 200px;
	grid-template-areas: 
			"h h h"
			". c ."
			"f f f";
}

.articles-div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-gap: 15%;
	grid-area: c;
	margin-top: 4%;
	margin-bottom: 10%;
}

header {
	grid-area: h;
	justify-self: center;
	align-self: center;

	background-color: #4056A1;
	color: white;
	width: 110%;
	text-align: center;
	font-size: 3rem;
	background-image: url("header-background.jpg");
	background-size: 100%;
	background-attachment: fixed;
	box-shadow: 0px -2px 3px #797587 inset;
}

h1 {

	color: transparent;
  	text-shadow: 0px 3px 0px rgba(255,255,255,0.75),
  				1px 1px 0px rgba(0,0,0,0.1);
  
}

.article-title {
	color: #6c9661;
	text-shadow: 0px 1px 0px #ccc;
	font-size: 2rem;
	line-height: 25px;
}

.date-posted,
.article-author {
	color: #7b7299;
}

.article-author {
	font-size: 0.8rem;
}

.article-text {
	color: #130838;
	font-size: 1rem;
	text-align: justify;
}

footer {
	grid-area: f;
	justify-self: center;
	align-self: center;
	color: #7b7299;
	width: 110%;
	text-align: center;
	height: 220px;

	background-image: url("header-background.jpg");
	background-size: 100%;
	background-attachment: fixed;
	box-shadow: 0px 2px 3px #797587 inset;
}

.footer-text {
	font-size: 1rem;
	color: #130838;
}


@media screen and (max-width: 600px) {
	.articles-div {
		grid-template-columns: 1fr;
	}

	h1 {
		font-size: 4rem;
		height: 10rem;
	}

	.article-title {
		font-size: 1.5rem;
		line-height: 30px;
	}
}
